@model IEnumerable<MyDearImage.Models.Post>
@using Microsoft.AspNetCore.Identity
@using MyDearImage.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<div class="justify-content-center" >
@if(SignInManager.IsSignedIn(User))
{
    @foreach (var item in Model)
    {
    <div class="card d-block" style="width: 30rem; padding: 0;">
        <div class="card-body">
                <p class="card-title">@Html.DisplayFor(modelItem => item.UserName)</p>
            </div>
        <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none;">
            
            <img src="@Html.DisplayFor(modelItem => item.Image)" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="card-text" style="font-size: 14px;">
                    <a class="btn-like" style="text-decoration: none;" href='@Url.Action("LikePhoto", "Posts", new {id = item.Id})' role="button">
                        <i class="fa-solid fa-thumbs-up"></i>@Html.DisplayFor(modelItem => item.LikeCount) Likes
                    </a>
                </p>
                <p class="card-text" style="font-size: 13px; font-weight: bold;">@Html.DisplayFor(modelItem => item.CreatedDate)</p>
                <p class="card-text" style="font-size: 12px; font-weight: normal;">@Html.DisplayFor(modelItem => item.Description)</p>
            </div>
    </div>
    }
}
</div>
